<!--文章的查看-->
<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"  />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="renderer" content="webkit" />
    <title>blog_index</title>
    <meta name="keywords" content="张三的博客">
    <meta name="description" content="张三的博客">
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="js/base.js" type="text/javascript"></script>
    <script src="js/jquery.slides.min.js" type="text/javascript"></script>
</head>

<body>

<div class="head_box">
    <div class="header">
        <div class="header_logo">
            <a href="index.do"><h2 th:text="${session.login.name}">姓名测试点</h2><h4>|天行健,君子自强不息</h4></a>
        </div>
        <div class="header_nav">
            <ul class="clearfix">
                <li><a href="">个人文章</a></li>
                <li><a href="myartice_plate.do">文章编写</a></li>
                <li class="have_second">
                    <a href="">好友列表</a>
                    <ul class="nav_second">
                        <li><a href="list.html">小红</a></li>
                        <li><a href="list.html">小黄</a></li>
                        <li><a href="list.html">小蓝</a></li>
                    </ul>
                </li>
                <li><a href="index_homepape.do">个人资料设置</a></li>
                <li><a href="login.html">退出登入</a></li>
            </ul>
        </div>
        <div class="header_search">
            <a href="javascript:void(0);" class="header_search_btn">
                <!--<img src="img/search.png">-->
                <i></i>
            </a>
        </div>
        <div class="header_nav_small_btn">
            <span class="small_btn"></span>
        </div>
    </div>
</div>

<div class="nav_hidden_zhanwei"></div>





<div class="banner_box">

</div>

<div class="article_box clearfix">
    <div class="left">
        <!--首页最新模板部分-->
        <div class="article_box_one">
            <ul class="index_article">

                <div class="left">



                    <div class="article_content_box clearfix">

                        <div class="article_article_title">
                            <h3>最新模板
                                <span>您当前的位置：<a href="index.html">首页&gt;</a><a href="#">列表页&gt;</a><a href="#">内容页</a></span>
                            </h3>
                        </div>

                        <h3 class="article_content_title">标题,要不要出去玩</h3>
                        <div class="article_author_count_box clearfix">
                            <i class="article_author_img" title="张政"><img src="img/banner1.png"></i><a class="article_author" href="#">张政</a>
                            <p>发表时间：2019-09-08</p><p>查看次数：500</p><p>点赞次数：500</p><p>评论次数：500</p>
                        </div>
                        <div class="article_info">
                            <p><b>简介&nbsp;&nbsp;</b>我这里是文章的介绍</p>
                        </div>
                        <div class="article_content">
                            <p>大叫好我是张三,这里是我的内容</p>
                            <br>
                            <br>
                            <br>
                            <img src="img/banner3.png">
                            <br>
                            <br>
                            <br>
                            <p>再怎么底部的文章内容</p>
                            <br>
                        </div>



                        <div class="article_end">
                            <p>本文由：王五 作者：<a href="#">王五</a> 发表，</p>
                        </div>


                        <div class="article_like_box">
                            <a href="#" onclick="alert('没做你点了也没用')">点赞</a>
                            <a href="#"  onclick="alert('害都说了没用了')">转发</a>
                        </div>



                        <div class="article_prev_next_box">
                            <a href="#">上一章：文章1</a>
                            <a href="#">下一章：文章2</a>
                        </div>
                    </div>
                    </div>


                    <div class="pinglun_box">
                        <div class="article_article_title">
                            <h3>文章评论</h3>
                        </div>
                        <div>
                            <font color="red">
                                <p >张三评论:文章不错</p>
                                <p >&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;李四回复了:是啊</p>

                            </font>
                        </div>

                        </div>
                    </div>
            </ul>
        </div>
        <!--首页博文推荐部分-->
    </div>
    <!--异步获取文章-->
<!--    <div class="right">-->
<!--        &lt;!&ndash;个人介绍部分&ndash;&gt;-->
<!--        <div class="self_info right_box">-->
<!--            <img src="img/self.jpg">-->
<!--            <div class="self_info_text">-->
<!--                <h3 th:text="${session.userBAsic.nickName}">张4</h3>-->
<!--                <div>-->
<!--                    <p>天将降大任于斯人也，必先苦其心志、磨其胫骨、饿其体肤</p>-->
<!--                </div>-->
<!--                <a href="#">关注(当前并没有做)</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;个人介绍隐藏部分，只在右侧被翻到最上面显示&ndash;&gt;-->
<!--        <div class="self_info_scroll_bottom right_box">-->
<!--            <img src="img/self.jpg">-->
<!--            <div class="self_info_text">-->
<!--                <h3>张1</h3>-->
<!--                <div>-->
<!--                    <p>以彼之长，增长自身</p>-->
<!--                </div>-->
<!--                <a href="#">Read More</a>-->
<!--            </div>-->
<!--        </div>-->
<!--        &lt;!&ndash;微信二维码部分&ndash;&gt;-->
<!--        <div class="self_erweima right_box">-->
<!--            <h3>当前区域需要放东西</h3>-->
<!--            <div>-->
<!--                <img src="img/self_weixin_erweima.png">-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
<!--    &lt;!&ndash;座右铭目的把div对齐最多只能2行字，多了就高了&ndash;&gt;-->
<!--    <div class="self_zuoyoum right_box">-->
<!--        <h3>这里或许能做些什么东西</h3>-->
<!--    </div>-->
<!--</div>-->
<!--</div>-->
<!--<div class="footer_box">-->
<!--    <div class="footer clearfix">-->
<!--        <div class="footer_img">-->
<!--            <ul>-->
<!--                <li>-->
<!--                    <img src="img/self_qq_bottom_erweima.png">-->
<!--                    <span>我的qq</span>-->
<!--                </li>-->
<!--                <li>-->
<!--                    <img src="img/self_weixin_bottom_erweima.jpg">-->
<!--                    <span>我的微信</span>-->
<!--                </li>-->
<!--            </ul>-->
<!--        </div>-->
<!--        <div class="footer_text">-->
<!--            <p><i>站点声明：</i></p>-->
<!--            <a  href="http://wpa.qq.com/msgrd?v=3&uin=911412667&site=qq&menu=yes"><font color="red">1.点此访问站长:911412667</font></a>-->
<!--            <p>2.不要搞各种html注入</p>-->
<!--        </div>-->
<!--    </div>-->

</div>

</body>

</html>