<!--<!DOCTYPE html>-->
<!--<html lang="zh"  xmlns:th="http://www.thymeleaf.org">-->
<!--<head>-->
<!--    <meta charset="UTF-8">-->
<!--    <title>Title</title>-->

<!--   <script th:inline="javascript">-->

<!--      // var ccc1=;-->
<!--      let ccc= [[${session.abc}]];-->

<!--   let  a=10,b=10;-->
<!--   let k=400,k1=400;-->
<!--      function print(a1) {  //执行定时函数-->

<!--          function print4() {-->
<!--              document.getElementById("demo").innerHTML="pr1:"+ccc;-->
<!--              //a++;-->
<!--          }-->

<!--             setTimeout(print4, k); //设置程序400毫秒后执行-->
<!--              setTimeout(print, k); //设置程序400毫秒后执行-->


<!--      }-->



<!--   function print1() {  //执行定时函数-->

<!--       function print5() {-->
<!--           document.getElementById("demo1").innerHTML="pr2:"+b;-->
<!--           b++;-->
<!--       }-->

<!--       setTimeout(print5, k1); //设置程序400毫秒后执行-->
<!--       setTimeout(print1, k1); //设置程序400毫秒后执行-->

<!--   }-->



<!--   // alert("Ccc");-->


<!--  </script>-->
<!--</head>-->


<!--<body>-->

<!--<p id="demo">222</p>-->
<!--<p id="demo1">222</p>-->
<!--<div>-->
<!--        <p th:text="${session.abc}">222</p>-->
<!--&lt;!&ndash;    <button  onclick="print()">按钮1</button>&ndash;&gt;-->
<!--    <button  th:onclick="|print(${session.abc})|">按钮1</button>-->
<!--    <button onclick="print1()">按钮2</button>-->
<!--    <div>文章总数：<span th:text="${@module.abc()}"></span> 篇</div>-->
<!--</div>-->


<!--</body>-->



<!--</html>-->