<!--文章首页论坛-->
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="content-type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1"  />
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible">
    <meta name="renderer" content="webkit" />
    <title>blog_index</title>
    <meta name="keywords" content="张三的博客">
    <meta name="description" content="张三的博客">
    <!-- 新 Bootstrap 核心 CSS 文件 -->
    <link href="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet">

    <!-- jQuery文件。务必在bootstrap.min.js 之前引入 -->
    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>

    <!-- 最新的 Bootstrap 核心 JavaScript 文件 -->
    <script src="https://cdn.staticfile.org/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <link href="css/base.css" rel="stylesheet" type="text/css">
    <script src="js/jquery-1.8.3.min.js" type="text/javascript"></script>
    <script src="js/base.js" type="text/javascript"></script>
    <script src="js/jquery.slides.min.js" type="text/javascript"></script>



</head>
<!--<script>-->
<!--  function  hidden1(){-->

<!--      let hidden1 = document.getElementById("hidden1").value;-->
<!--      console.log(hidden1); //输出调试-->

<!--      //跳转-->
<!--     location.href='article.do?id='+hidden1;-->

<!--  }-->

<!--</script>-->
<body>

<div th:replace="headline :: myfooter"></div> <!--引入首页头-->

<!--<div id="page1" >-->
<!--    <script src="https://cdn.staticfile.org/jquery/2.1.1/jquery.min.js"></script>-->
<!--    <script>-->
<!--        $("#page1").load("headline.html");  //拷贝头-->
<!--    </script>-->
<!--</div>-->

<div class="banner_box">

</div>

<div class="article_box clearfix">
    <div class="left">
<!--        &lt;!&ndash;首页最新模板部分&ndash;&gt;-->
        <div class="article_box_one" id="articleBox" >

        </div>



        <div>
            <input type="button"  class="more"  value="上一章" onclick="previousPage()" style="display:inline-block;" id="previousPage">
           <div id="button_1">
           </div>
            <input type="button"  class="more"  value="下一章" onclick="pageDown()" style="display:inline-block;" id="pageDown">
        </div>

    </div>

</div>



<div class="footer_box">
    <div class="footer clearfix">
        <div class="footer_img">
            <ul>
                <li>
                    <img src="img/self_qq_bottom_erweima.png">
                    <span>我的qq</span>
                </li>
                <li>
                    <img src="img/self_weixin_bottom_erweima.jpg">
                    <span>我的微信</span>
                </li>
            </ul>
        </div>
        <div class="footer_text">
<!--            <p th:each="models:${models}" th:text="${models.id}"></p>-->
            <p><i>站点声明：</i></p>
            <a  href="http://wpa.qq.com/msgrd?v=3&uin=911412667&site=qq&menu=yes"><font color="red">1.点此访问站长:911412667</font></a>
            <p>2.不要搞各种html注入</p>
        </div>
    </div>

</div>
</body>

<script>

    let max_1; //最大
    let class1=[]; //文章放的数组
    let set=3; //设置多少为一页
    let page_sum=0; //设置传输到服务器里面需要到第几页
    let previous = document.getElementById("pageDown"); //上一页
    let page = document.getElementById("previousPage"); //下一页
     previous.disabled=true; //一开始默认上一页不可点击

    function previousPage(){ //上一页
        if (page_sum - 1 >=0) {
            page_sum--;
            page.disabled=false; //设置下一页可点击
            update1(page_sum);
        }else{
            previous.disabled=true; //设置上一页不可点击
        }
    }

    function pageDown(){ //下一页
        alert("当前最大页数为:"+page_sum);
        if(parseInt(page_sum)+1<=max_1){
            page_sum++;
            previous.disabled=false; //设置上一页可点击
            update1(page_sum);
        }else{
            page.disabled=true; //设置下一页不可点击
        }
    }


    function update1(page){  //进行数据的更新和初始化
        //开始的时候清除div

        let articleBox = document.getElementById("articleBox");
        let div1 = document.getElementById("classC3");

        if(div1!=null){
            articleBox.removeChild(div1);
        }

        //创建div
        let div2=document.createElement("div1"); //创建一个表  创建一个tbody
        div2.setAttribute("class","classC3"); //绑定他的class
        div2.setAttribute("id","classC3"); //绑定他的id
        articleBox.appendChild(div2); //保存文件


        //更新服务器传输过来的消息 进行第一次判断是否为空
        let hidden1 = document.getElementById("keyboard").value;
        let strURL="";
        if(hidden1!=""){ //信息查询
            strURL=`Index_homepape_fuzzyQueryAction.do?name=${hidden1}&page=page`;
        }else{  //初始化查询
            strURL=`Index_iniTializeAction.do${window.location.search}&page=${page}`;
        }

        $.ajax({  //用来通过ajks通信
            type:"post",
            url:strURL, //获取数据传输过来的json格式数据
            dataType:"json",        //指定响应的data数据类型为JSON对象。
            success:function(json){ //回调函数
                if(json.code=="1"){
                    alert(json.no); //输出值
                    max_1=json.no; //获取最大的页数
                    initialize1(json.data.class1,page); //一开始显示前i(10)条数据(第一页)
                }
                else{
                    alert(json.data.no); //返回错误码
                    return;
                }
            },
        })
    }


    let id1 = document.getElementById("update1"); //查询按钮和更新按钮
    id1.onclick=update1; //绑定按钮

    let bool_huadon=false;
    //生成表单数据的方法
    function  initialize1(jsonClass1,page){ //初始化操作
        class1=jsonClass1; // 保存json格式

        bool_huadon=false; //设置翻页的时候不动
        clsj(1);//打开第一页
        // alert("执行了n次")
        bool_huadon=true; //设置翻页的时候不动

        let divButton= document.getElementById("button_1");
        let length=class1.length/set; //求出可以分多生页
        let button_sz=[]; //存储设置的
        for(let i=0;i<length;i++){ //创建按钮
            button_sz.push("<input  type=\"button\" class=\"more\" value=\"第"+parseInt((page-1)*10+(i+1))+"页\" onClick=\"clsj("+(i+1)+")\" style=\"display:inline-block;\">")

        }
        divButton.innerHTML=button_sz.join(''); //存储模板 按钮的
    }


    function clsj(page){ //传入第几页  显示数据的
        let itecode={ //页码
            "bengin":(page-1)*set, //设置开始页
            "end":(class1.length>((page-1)*set+set))?(page-1)*set+set:class1.length, //设置结束页
        }

        let appendAdd="";
        for(let i=itecode.bengin;i<itecode.end;i++){
            appendAdd+=`<div class=\"index_article_title clearfix\">
                               <h3>文章标题:${class1[i].theme}</h3>
                               <p href=\"list.html\" >更多></p>
                           </div>
                           <ul class=\"index_article\" >
                               <input type=\"hidden\" name=\"idtext\" id=\"hidden1\" value=\"${class1[i].id}\">
                               <li class=\"clearfix article_list\">
                                   <a href=\"article.do?id=${class1[i].id}\"  class=\"article_list_img\">
                                       <img src=\"img/bg_5.png\" >
                                   </a>
                                   <h3  href=\"\"  >文章标题:${class1[i].theme}</h3>
                                   <p  text=\"\">文章内容:${class1[i].content}</p>
                                   <div class=\"article_list_link\">
                                       <span class=\"article_list_count\">
                                           <i class=\"see_count\"></i>
                                           <p>发布时间:</p><p >${class1[i].postdate}</p>
                                       </span>
                                       <span class=\"article_list_like\">
                                           <i class=\"like_count\"></i>
                                          <p> 发布人:</p><p>${class1[i].uname}</p>
                                       </span>
                                       <a href=\"article.do?id=\"${class1[i].id}\">查看详细+</a>
                                   </div>
                               </li>
                           </ul>
                            <br><br><br><br>`;
        }
        document.getElementById("classC3").innerHTML=appendAdd;//添加网站

        // alert(bool_huadon);
        if(bool_huadon==true){
            huadon();
        }


    }

    function huadon(){ //滑动到上面
        //滑动到主页
        let scrollTop = document.documentElement.scrollTop || document.body.scrollTop;
        let timer = setInterval(() => {
            scrollTop -= 100;
            window.scrollTo(0, scrollTop)
            if (scrollTop <= 50) {
                clearInterval(timer)
            }
        }, 16.7);
    }

    update1(page_sum); //第一次执行初始化操作 刚刚开始默认page_sum为第一页

</script>
</html>
